* {
  margin: 0;
  padding: 0;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  position: relative;
  box-sizing: border-box;
}
header {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(99, 210, 243);
}
h1 {
  color: white;
}
.logo {
  padding: 23px 1rem 1rem 1rem;
}
.navigation {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
a {
  margin: 1rem;
  color: white;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 auto;
  justify-content: space-between;
  background-image: url("./img/blue-sky-and-clouds.jpg");
  background-size: 2000px 1000px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(99, 210, 243);
}
.first-column,
.third-column,
.reviews,
.contacts,
.blog,
.faq,
.second-column {
  padding: 1rem;
}
